[Desktop Entry]
Name=User Management
Name[el]=Διαχείριση χρηστών
Name[es]=Administrador de usuarios
Name[et]=Kasutajate haldamine
Name[it]=Gestione degli utenti
Name[ja]=ユーザの管理
Name[nl]=Gebruikersbeheer
Name[pt]=Gestão de Utilizadores
Name[pt_BR]=Gerenciamento de Usuários
Name[sr]=Управљање корисницима
Name[sr@Latn]=Upravljanje korisnicima
Name[sv]=Användarhantering
Name[xx]=xxUser Managementxx
Comment=Users & Groups Administration
Comment[el]=Διαχείριση χρηστών & ομάδων
Comment[es]=Administrador de usuarios y grupos
Comment[et]=Kasutajate ja gruppide haldamine
Comment[it]=Amministrazione di utenti e gruppi
Comment[ja]=ユーザとグループの管理
Comment[nl]=Gebruikers en groepen beheren
Comment[pt]=Administração dos Utilizadores & Grupos
Comment[pt_BR]=Administração de Usuários & Grupos
Comment[sr]=Администрирање корисника и група
Comment[sr@Latn]=Administriranje korisnika i grupa
Comment[sv]=Administration av användare och grupper
Comment[xx]=xxUsers & Groups Administrationxx
Icon=user-identity
Encoding=UTF-8
X-KDE-ModuleType=Library
X-KDE-Library=userconfig
X-KDE-FactoryName=userconfig
X-KDE-RootOnly=true
Type=Application
Exec=kcmshell System/userconfig
Categories=Qt;KDE;X-KDE-settings-system;
GenericName=User Account Editor
GenericName[el]=Επεξεργαστής λογαριασμών χρηστών
GenericName[es]=Editor de cuenta de usuario
GenericName[et]=Kasutajakonto redaktor
GenericName[it]=Editor degli account degli utenti
GenericName[ja]=ユーザアカウントエディタ
GenericName[nl]=Gebruikeraccounts bewerken
GenericName[pt]=Editor de Contas dos Utilizadores
GenericName[pt_BR]=Editor de Contas de Usuários
GenericName[sr]=Уређивач корисничких налога
GenericName[sr@Latn]=Uređivač korisničkih naloga
GenericName[sv]=Editor för användarkonton
GenericName[xx]=xxUser Account Editorxx
X-Ubuntu-Gettext-Domain=desktop_guidance
